/.* export-ignore
/benchmark.sh export-ignore
/box.json.dist export-ignore
/dev-tools/ export-ignore
/doc/ export-ignore
/docker/ export-ignore
/compose.override.dist.yaml export-ignore
/compose.yaml export-ignore
/Dockerfile export-ignore
/infection.json5.dist export-ignore
/phpstan.dist.neon export-ignore
/phpunit.xml.dist export-ignore
/src/Fixer/Internal/ export-ignore
/tests/ export-ignore
/feature-or-bug.rst export-ignore
/CHANGELOG.md export-ignore
/ci-integration.sh export-ignore
/CONTRIBUTING.md export-ignore
/UPGRADE-v3.md export-ignore

*       text=auto eol=lf
*.json  text whitespace=blank-at-eol,blank-at-eof,space-before-tab,tab-in-indent,tabwidth=4
*.md    text whitespace=blank-at-eol,blank-at-eof
*.php   text whitespace=blank-at-eol,blank-at-eof,space-before-tab,tab-in-indent,tabwidth=4 diff=php
*.rst   text whitespace=blank-at-eol,blank-at-eof
*.yml   text whitespace=blank-at-eol,blank-at-eof,space-before-tab,tab-in-indent,tabwidth=4
*.png   binary eol=unset
/tests/Fixtures/**/* -text -filter
