/.env
/.php-cs-fixer.cache
/.php-cs-fixer.php
/**/xdebug.log
/box.json
/compose.override.yaml
/composer.lock
/dev-tools/bin/
/dev-tools/infection/
/dev-tools/php-compatibility/cache.json
/dev-tools/phpstan/cache/
/dev-tools/phpunit/cache/
/dev-tools/vendor/
/infection.json5
/php-cs-fixer.phar
/php-cs-fixer.phar.asc
/phpstan.neon
/phpunit.xml
/vendor/
