language: php

matrix:
    fast_finish: true
    include:
        - php: 5.3
          env: 'COMPOSER_FLAGS="--prefer-stable --prefer-lowest"'
        - php: 7.0
          env: LINT_TEST_CASES=1
        - php: hhvm
        - php: 5.4
        - php: 5.5
        - php: 5.6
        - php: 7.0
          env: SYMFONY_VERSION="~2.8"

sudo: false

cache:
    directories:
        - $HOME/.composer/cache

before_install:
    - git config --global github.accesstoken 5e7538aa415005c606ea68de2bbbade0409b4b8c
    - 'if [ "$SYMFONY_VERSION" != "" ]; then sed -i "s/\"symfony\/\([^\"]*\)\": \"[^\"]*\"/\"symfony\/\1\": \"$SYMFONY_VERSION\"/g" composer.json; fi'

install:
    - travis_retry composer update $COMPOSER_FLAGS --no-interaction

script:
    - composer test-ci
    - phpenv config-rm xdebug.ini || return 0
    - php php-cs-fixer --diff --dry-run -v fix

after_success:
    - php vendor/bin/coveralls -v
