language: php

php:
  - 5.3
  - 5.4
  - 5.5
  - 5.6
  - hhvm

install:
  - travis_retry composer install --no-interaction --prefer-source

script:
  - phpunit --verbose
  - php php-cs-fixer --diff --dry-run -v fix
