{
    "check-requirements": false,
    "dump-autoload": false,
    "stub": "php-cs-fixer",
    "compactors": [
        "KevinGH\\Box\\Compactor\\Json",
        "KevinGH\\Box\\Compactor\\Php"
    ],
    "files": [
        "doc/.php-cs-fixer.dist.php.template",
        "LICENSE"
    ],
    "finder": [
        {
            "name": [
                "*.php",
                "*.php8",
                "completion.*"
            ],
            "exclude": [
                "Test",
                "test",
                "Tests",
                "tests"
            ],
            "in": [
                "src",
                "vendor"
            ]
        }
    ],
    "blacklist": [
        "psalm-autoload.php"
    ],
    "git-commit": "git-commit"
}
