version: '3.8'

services:
  php-7.4: &php
    build:
      args:
        DOCKER_USER_ID: 1000 # replace with your user id (most likely 1000)
        DOCKER_GROUP_ID: 1000 # replace with your group id (most likely 1000)
    user: 1000:1000 # replace with your user and group ids (most likely 1000:1000)
    extra_hosts:
      # Required for Docker Linux until natively supported.
      # See https://github.com/docker/for-linux/issues/264
      - 'host.docker.internal: 172.17.0.1'
  php-8.0:
    <<: *php
  php-8.1:
    <<: *php
