includes:
    - dev-tools/vendor/jangregor/phpstan-prophecy/extension.neon
    - dev-tools/vendor/phpstan/phpstan/conf/bleedingEdge.neon
    - dev-tools/vendor/phpstan/phpstan-phpunit/extension.neon

parameters:
    level: 5
    paths:
        - src
        - tests
    excludePaths:
        - tests/Fixtures
    tipsOfTheDay: false
