includes:
    - dev-tools/vendor/phpstan/phpstan/conf/bleedingEdge.neon

    # Baseline, should only shrink! To regenerate it, just execute `composer phpstan:baseline`.
    - dev-tools/phpstan/baseline.php

parameters:
    level: 6
    paths:
        - src
        - tests
    excludePaths:
        - tests/Fixtures
    reportUnmatchedIgnoredErrors: true # Do not allow outdated errors in the baseline
    treatPhpDocTypesAsCertain: false
    ignoreErrors:
        - '/^Class [a-zA-Z\\]+ extends @final class PhpCsFixer\\(ConfigurationException\\InvalidConfigurationException|ConfigurationException\\InvalidFixerConfigurationException|Tokenizer\\Tokens|Console\\Command\\FixCommand)\.$/'
        - '/^\$this\(PhpCsFixer\\Tokenizer\\Tokens\) does not accept PhpCsFixer\\Tokenizer\\Token\|null\.$/'

        # PHPUnit data providers return type were not maintained originally, this exception should shrink over time (eg with help of custom, re-usable type)
        -
            message: '#^Method PhpCsFixer\\Tests\\.+::provide.+Cases\(\) return type has no value type specified in iterable type iterable\.$#'
            path: tests
            count: 1035

        -
            message: '#Call to static method .+ with .+ will always evaluate to true.$#'
            path: tests
            count: 18
    tipsOfTheDay: false
    tmpDir: dev-tools/phpstan/cache
