<?xml version="1.0" encoding="UTF-8"?>

<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
    beStrictAboutChangesToGlobalState="true"
    beStrictAboutOutputDuringTests="true"
    bootstrap="./tests/bootstrap.php"
    cacheDirectory="./dev-tools/phpunit/cache"
    colors="true"
    columns="max"
    defaultTimeLimit="10"
    enforceTimeLimit="true"
    executionOrder="defects"
    failOnRisky="true"
    failOnWarning="true"
    timeoutForSmallTests="10"
    timeoutForMediumTests="20"
    timeoutForLargeTests="30"
>
    <testsuites>
        <testsuite name="unit">
            <directory>./tests/</directory>
            <exclude>./tests/Console/Internal/Command/DocumentationCommandTest.php</exclude>
            <exclude>./tests/IntegrationTest.php</exclude>
            <exclude>./tests/AutoReview/</exclude>
            <exclude>./tests/Smoke/</exclude>
        </testsuite>
        <testsuite name="integration">
            <file>./tests/IntegrationTest.php</file>
        </testsuite>
        <testsuite name="smoke">
            <directory>./tests/Smoke/</directory>
        </testsuite>
        <testsuite name="auto-review">
            <directory>./tests/AutoReview/</directory>
            <file>./tests/Console/Internal/Command/DocumentationCommandTest.php</file>
        </testsuite>
        <testsuite name="short-open-tag">
            <file>./tests/Fixer/PhpTag/NoClosingTagFixerTest.php</file>
            <file>./tests/Fixer/Semicolon/NoEmptyStatementFixerTest.php</file>
            <file>./tests/Tokenizer/TokensTest.php</file>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <directory>./src</directory>
        </include>
    </source>

    <extensions>
        <bootstrap class="Paraunit\Configuration\ParaunitExtension"/>
    </extensions>

    <php>
        <ini name="zend.enable_gc" value="0"/>
        <ini name="memory_limit" value="-1"/>
        <env name="PHP_CS_FIXER_FAST_LINT_TEST_CASES" value="1"/>
        <env name="PHP_CS_FIXER_FUTURE_MODE" value="0"/>
        <env name="PHP_CS_FIXER_NON_MONOLITHIC" value="0"/>
        <env name="PHP_CS_FIXER_TESTS_SYSTEM_UNDER_TEST" value="1" force="true"/>
        <env name="PHP_CS_FIXER_TESTS_ALLOW_ONE_TIME_SELF_CONFIG_USAGE" value="0" force="true"/>
        <env name="PHP_CS_FIXER_ENFORCE_CACHE" value="0" force="true"/>
    </php>
</phpunit>
