<?php

declare(strict_types=1);

use PhpCsFixer\Config;
use PhpCsFixer\Finder;

return (new Config())
    ->setRiskyAllowed(/*{{ IS_RISKY_ALLOWED }}*/)
    ->setRules(/*{{ RULES }}*/)
    // 💡 by default, Fixer looks for `*.php` files excluding `./vendor/` - here, you can groom this config
    ->setFinder(
        (new Finder())
            // 💡 root folder to check
            ->in(__DIR__)
            /*{{ CUSTOMIZABLE_FINDER }}*/
    )
;
