name: Create and publish a Docker images

on:
  push:
    tags:
      - "v*.*.*"
    branches:
      - "master"

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  build-and-push-image:
    name: PHP ${{ matrix.php-version }}, Fixer ${{ github.ref == 'refs/heads/master' && 'edge' || github.ref_name }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - php-version: '7.4'
            php-suffix: '-php7.4'
            alpine-version: '3.16'
          - php-version: '8.0'
            php-suffix: '-php8.0'
            alpine-version: '3.16'
          - php-version: '8.1'
            php-suffix: '-php8.1'
            alpine-version: '3.18'
          - php-version: '8.2'
            php-suffix: '-php8.2'
            alpine-version: '3.18'
          - php-version: '8.3'
            php-suffix: '-php8.3'
            alpine-version: '3.18'
          # This is the latest supported PHP Version and will be provided without -phpX.X suffix
          - php-version: '8.3'
            php-suffix: ''
            alpine-version: '3.18'

    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Log in to the Container registry
        uses: docker/login-action@65b78e6e13532edd9afa3aa52ac7964289d1a9c1
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Make image lowercase
        run: |
          echo IMAGE_NAME_LOWER=$(echo ${{ env.IMAGE_NAME }} | tr '[:upper:]' '[:lower:]') >> ${GITHUB_ENV}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@9ec57ed1fcdbf14dcef7dfbe97b2010124a938b7
        with:
          flavor: |
            latest=false
            suffix=${{ matrix.php-suffix }}
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME_LOWER }}
          # "edge" will only build from master, "semver" only from tags
          tags: |
            type=edge,branch=master
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}
            type=semver,pattern={{major}}
            type=semver,pattern=latest

      - name: Build and push Docker image
        uses: docker/build-push-action@4a13e500e55cf31b7a5d59a38ab2040ab0f42f56
        with:
          context: .
          file: Dockerfile
          target: dist
          build-args: |
            PHP_VERSION=${{ matrix.php-version }}
            ALPINE_VERSION=${{ matrix.alpine-version }}
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
