name: Lint

on:
  pull_request:

permissions:
  contents: read # to fetch code (actions/checkout)

jobs:
  lint-script:
    name: Script
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Check - file permissions
        run: ./dev-tools/check_file_permissions.sh

      - name: Cache dev-tools
        uses: actions/cache@v5
        with:
          path: dev-tools/bin/
          key: DevTools-${{ hashFiles('dev-tools/install.sh') }}

      - name: Install dev-tools
        uses: nick-invision/retry@v3
        with:
          timeout_minutes: 5
          max_attempts: 5
          retry_wait_seconds: 30
          command: ./dev-tools/install.sh

      - name: Check - shell scripts
        run: ./dev-tools/check_shell_scripts.sh